---
const today = new Date();
import { Icon } from "astro-icon/components";
---

<footer
  class="md:flex md:justify-between md:items-center md:align-center font-overpass-mono w-full md:h-full mt-12"
>
  <div class="text-[12px] text-center items-center flex justify-center">
    &copy; {today.getFullYear()} HH955 Group. All rights reserved.
  </div>
  <div class="flex justify-center gap-3 m-2 sm:m-0">
    <a href="https://github.com/vinacioo/gallery" target="_blank">
      <span class="sr-only">Catalogue's GitHub repo</span>
      <Icon name="mdi:github" class="h-[20px] w-[20px]" />
    </a>
    <a
      id="rss-link"
      href=""
      target="_blank"
      style="visibility: hidden; width: 0; height: 0;"
    >
      <span class="sr-only">Subscribe to RSS Feed</span>
      <Icon name="mdi:rss" class="h-[20px] w-[20px]" />
    </a>
  </div>
  <slot />
</footer>
<script src="../scripts/rss.js"></script>
